<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2024 The Android Open Source Project
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!-- This app explicitly opts in to always be in restricted mode by setting PROPERTY_USE_RESTRICTED_BACKUP_MODE. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.cts.backup.restrictedmodeoptedinapp">
    <application
        android:name="android.backup.app.CustomApplication"
        android:allowBackup="true"
        android:backupAgent="android.backup.app.ApplicationCastingFullBackupAgent"
        android:label="RestrictedModeOptedInApp"
        android:fullBackupOnly="true"
        android:debuggable="true"
        android:testOnly="true">
        <uses-library android:name="android.test.runner"/>
    <property android:name="android.app.backup.PROPERTY_USE_RESTRICTED_BACKUP_MODE" android:value="true"/>
    </application>
</manifest>
