<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.packageinstaller.sufficientverifierreject">

    <application android:allowBackup="true"
         android:debuggable="true">
        <receiver
            android:name=".RejectReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
